#managevolunteers-title {
    text-align: center;
}

#name {
    width: 30%;
}

#age {
    width: 15%;
}

#hours {
    width: 14%;
}

#role {
    width: 25%;
}

#action {
    width: 15%;
}

#registration-content {
    width: 40%;
    padding: .5rem;
}