body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.form {
    background-color: #f5f1f1;
    width: 31%;
    height: auto;
    margin: 5% 0 24px 0;
    position: relative;
    left: 24vw;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #72e42b;
  border-radius: 4px;
  color: black;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #5fc91d;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
    position: relative;
    right: 6vw;
}

.content {
    margin-left: 11%;
}

.about {
    /* text-align: center; */
    font-size: 20px;
    font-weight: 400;
}

.login-mode {
    /* background-image: url('https://images.unsplash.com/photo-1528184765571-a9675b2324ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80'); */
    background-size: cover;
    height: 100vh;
}