@media screen and (min-width: 760px) {
    .SideBar {
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    width: 10%;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    overflow: hidden;
    }
}

@media screen and (max-width: 760px) {
    .SideBar {
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    width: 5%;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    overflow: hidden;
    }
}

.side-link {
    float: left;
    color: black;
    background-color: whitesmoke;
    text-align: center;
    padding: 2rem 0;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
    margin-left: 0;
}

.side-link:hover {
    background-color: darkgray;
  }

  @media screen and (max-width: 760px) {
  .WideSideBar {
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    width: 20%;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    overflow: hidden;
    opacity: 1;
    }
}

@media screen and (min-width: 760px) {
    .WideSideBar {
      height: 100%;
      position: fixed;
      z-index: 1;
      left: 0;
      width: 10%;
      list-style: none;
      margin: 0;
      padding: 0;
      background-color: whitesmoke;
      overflow: hidden;
      opacity: 1;
      }
  }
