.title {
    text-align: center;
}

#signup {
    width: 15%;
    text-align: center;
    font-weight: bold;
}

#sub-table {
    width: 50%;
    margin: auto;
}

#what-when {
    text-align: center;
    font-weight: bold;
}

.signup-button {
    display: inline-block;
}

.signup-button-cell {
    text-align: center;
}