#title {
    text-align: center;
}

#signup {
    width: 15%;
    text-align: center;
    font-weight: bold;
}

#sub-table-container {
    margin: auto;
}

#what-when {
    text-align: center;
    font-weight: bold;
    width: 85%;
}

.signup-button {
    display: inline-block;
}

.signup-button-cell {
    display: flex !important;
    justify-content: center;
    align-items: center;
}